<%- include("header") %>
<h1>Hello Aditya</h1>
<p>This is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazingThis is amazing</p>

<%- include("footer") %>